.container {
  height: 2000px;
  width: 100%;
  background-color: #002b63;
  display: flex;
  flex-direction: column;
}

.pai1 {
  height: 130px;
  width: 100%;
  background-color: #133f7a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pai2 {
  height: 130px;
  width: 1500px;
  background-color: #1c467e;
  display: flex;
  justify-content: fl;
  align-items: center;
}

.imagem {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: first baseline;
  align-items: center;
  margin: 0px 0px 0px 10px;
}

.imagem img {
  width: 100%;
  height: 100%;
  object-fit: contain;

}

.pai1 {
  height: 500px;
  width: 100%;
  background-color: #133f7a;
  display: flex;
  justify-content: center;
  align-items: center;
}