.container {
  height: 4000px;
  width: 100%;
  background-color: #002b63;
  display: flex;
  flex-direction: column;
}

.pai1 {
  height: 200px;
  width: 100%;
  background-color: #133f7a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pai2 {
  height: 130px;
  width: 1500px;
  background-color: #1c467e;
  display: flex;
  justify-content:; 
  align-items: center;
}

.imagem {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  margin: 0px 0px 0px 10px;
}

.imagem img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.pai3 {
  height: 800px;
  width: 100%;
  background-color: #154e99;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel.slide {
  height: 500px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-item {
  height: 500px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
