.container {
  height: 2000px;
  width: 100%;
  background-color: #002b63;
  display: flex;
  flex-direction: column;
}

.pai1 {
  height: 200px;
  width: 100%;
  background-color: #133f7a;
  display: flex;
  
}

.imagem {
  width: 180px;  
  height: 180px; 
  display: flex;
  justify-content: center; 
  align-items: center;   
  margin: 10px 0px 0px 10px; 
}

.imagem img {
  width: 100%;   
  height: 100%;  
  object-fit: contain; 
}
